<section class="share">
    <h3>{{ site.translations.text.share | default: "Compartir" }}</h3>
    <a aria-label="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}" href="https://twitter.com/intent/tweet?text=&quot;{{ page.description }}&quot;%20firstlevels.netlify.com%2F&amp{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <div class="fb-share-button" data-href="https://firstlevels.netlify.com/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffirstlevels.netlify.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></div>
</section>
